* {
    box-sizing : border-box;
}

li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
html,
p,
input,
div,
body,
ul,
ol {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: "Hiragino Kaku Gohtic ProN";
}

a {
    text-decoration: none;
}

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url(https://prog-8.com/images/html/advanced/top.png);
    background-size: cover;
    color: #FFFFFF;
    text-align: center;
}

.top-wrapper h1 {
    opacity: 0.7;
    font-size: 45px;
    letter-spacing: 5px;
}

.top-wrapper p {
    opacity: 0.7;
}

.btn-wrapper {
    text-align: center;
    margin: 20px 0;
}

.btn-wrapper p {
    margin: 10px 0;
}

.signup {
    background-color: #239b76;
}

.facebook {
    background-color: #3b5998;
    margin-right: 10px;
}

.twitter {
    background-color: #55acee;
}

.btn {
    color: #FFFFFF;
    padding: 8px 24px;
    opacity: 0.8;
    display: inline-block;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    opacity: 1;
}

.fab,
.fas {
    margin-right: 5px;
}

header {
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    position: fixed;
    top: 0;
    z-index: 10;
}

.logo {
    width: 124px;
    margin-top: 20px;
    cursor: pointer;
}

.header-container {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-between;
}

.header-right {
    display: flex;
    margin-right: -25px;
}

.header-right a,
.header-right span {
    line-height: 65px;
    padding: 0 25px;
    color: #FFFFFF;
    display: block;
    cursor: pointer;
}

.header-right a:hover,
.header-right apsn:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.5s;
}

.signup-modal-wrapper {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
}

.modal {
    margin: auto;
    position: absolute;
    top: 20%;
    left: 34%;
    background-color: #e6ecf0;
    padding: 20px 0 40px;
    border-radius: 10px;
    width: 450px;
    height: auto;
    text-align: center;
}

.fa-times {
    position: absolute;
    top: 12px;
    right: 12px;
    color: rgba(128, 128, 128, 0.46);
    cursor: pointer;
}

#signup-form {
    width: 100%;
}

#signup-form h2 {
    color: #5f5d60;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

#signup-form input {
    width: 320px;
    margin-bottom: 20px;
    font-size: 12px;
    padding: 12px 12px;
    border: 1px solid #d0d5d8;
    border-radius: 5px;
}

#submit-btn {
    display: inline-block;
    padding: 14px 140px;
    background-color: #5dca88;
    border: none;
    border-radius: 3px;
    color: #FFFFFF;
    margin: 10px auto;
    cursor: pointer;
}

.lesson-wrapper {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f7f7f7;
    text-align: center;
}

.heading {
    padding: 80px 0 50px 0;
    color: #5f5d60;
}

.heading h2,
.heading h3 {
    font-weight: normal;
}

.lessons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.lesson {
    width: 25%;
}

.lesson-icon {
    position: relative;
}

.lesson-icon p {
    position: absolute;
    top: 44%;
    width: 100%;
    color: #FFFFFF;
}

.text-contents {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 13px;
    color: #b3aeb5;
}

.faq-wrapper {
    background-color: #e6ecf0;
    text-align: center;
    padding-bottom: 80px;
    color: #5f5d60;
}

#faq-list {
    width: 500px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.faq-list-item {
    margin: 10px;
    border-bottom: 1px solid #ccc;
    position: relative;
    cursor: pointer;
    text-align: left;
}

.faq-list-item h3 {
    font-size: 14px;
    margin: 14px 0;
}

.faq-list-item span {
    position: absolute;
    top: 0;
    right: 5px;
    color: #333;
    font-size: 13px;
}

.answer {
    font-size: 12px;
    padding: 5px 0;
    margin-bottom: 15px;
    display: none;
}

.message-wrapper {
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
}

.message {
    background-color: #5dca88;
    padding: 15px 40px;
    cursor: pointer;
    box-shadow: 0 7px #1a7940;
}

.message:active {
    position: relative;
    top: 7px;
    box-shadow: none;
}

footer img {
    width: 125px;
}

footer p {
    color: #b3aeb5;
    font-size: 12px;
}

footer {
    padding: 30px 0 20px 0;
}

.menu-icon {
    color: #FFFFFF;
    font-size: 25px;
    padding: 21px 0;
    cursor: pointer;
    display: none;
}

.menu-cancel {
    padding-right: 15px;
    color: #FFFFFF;
    float: right;
    font-size: 25px;
    padding: 10px 9px 21px;
    cursor: pointer;
    display: none;
}

/* .menu-nav {
    position: fixed;
    top: 65px;
    background-color: rgba(34, 49, 52, 0.9);
    z-index: 100;
    width: 100%;
    display: none;
}

.menu-nav li {
    padding: 14px 6%;
}

.menu-nav a,
menu-nav span {
    display: inline-block;
    padding: 14px 6%;
    color: #FFFFFF;
    cursor: pointer;
    backgropund-image: url("image/矢印アイコン　右4.png");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 94% 50%;
}

.menu-nav i {
    display: block;
    color: #FFFFFF;
    float: right;
    cursor: pointer;
} */



    
    
